/* css styles */

/* 見出しレベル1 (#) */
section.level1 h1 {
  border-bottom: solid 5px #888;
  margin-top: 1em;
}

/* 見出しレベル2 (##) */
section.level2 h2 {
  border-bottom: solid 3px #ccc;
}
section.level2 div {
  margin-top: 1em;
}

/* section number の後ろに . をつける */
span.header-section-number:after {
  content: ". ";
}

/* 結果の表示を線で囲む */
div.cell-output-stderr {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: dashed 1px #400;
    border-radius: 4px;
}

div.cell-output-stdout {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: solid 1px black;
    border-radius: 4px;
}

pre:not(.sourceCode) code {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: solid 1px #888;
    border-radius: 4px;
}

/* 記事一覧の見出し */
div.quarto-grid-item .card-title {
  font-weight: bold;
}

/* 印刷用の設定 */
@media print {
  /* タイトル部分の余白 */
  header#title-block-header {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* 印刷時の表の改ページ関係 */
  thead {
      display: table-header-group;
  }
  
  /* 印刷時にリンクの後ろにURLを付けない */
  a[href]:after {
    content: "";
  }
  
  /* [Code] などは印刷しない */
  details:has(summary) {
    display: none;
    margin-bottom: 0;
  }
  
  /* 水平線を表示する */
  hr {
    border-top: solid #888 2px;
  }
  
  /* グラフがページ幅に収まるようにする */
  figure.figure svg {
    width: 100%;
  }
}
